[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soeugene
[access "refs/for/refs/*"]
	read = group user/soeugene
	push = group user/soeugene
	label-Code-Review = -2..+2 group user/soeugene
	label-Verified = -1..+1 group user/soeugene
	rebase = group user/soeugene
	removeReviewer = group user/soeugene
	submit = group user/soeugene
[access "refs/heads/*"]
	read = group user/soeugene
	create = group user/soeugene
	push = +force group user/soeugene
	pushMerge = group user/soeugene
[access "refs/tags/*"]
	push = group user/soeugene
	push = +force group user/soeugene
